---
import { Image } from "astro:assets";
import snow from "../../images/snow.jpg";
import { Button } from "../ui/button";
---

<div class="p-4 flex flex-col gap-3 rounded-2xl">
  <Image src={snow} alt={"placeholder"} class="w-full rounded-2xl shadow-md" />
  <h4 class="font-bold">Lorem ipsum dolor sit amet consectetur</h4>
  <p class="text-primary/50">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt! Magni
    sed fugit laudantium tenetur quas repellat rem ut est
  </p>
  <Button className="w-fit font-bold"> Click me </Button>
</div>

<style>
  .secondary-bg {
    background-color: var(--secondary-color);
  }
</style>
