---
import { BriefcaseBusiness } from "lucide-react";

type Props = {
  isReversed: boolean;
};

const isReversed = Astro.props.isReversed;
---

<!-- dark section subtitle -->
<div
  class={`${isReversed ? "order-2" : "order-1"} bg-black rounded-2xl text-white grid items-center`}
>
  <h4 class="font-bold text-xl text-center px-8 block h-max">
    Lorem ipsum dolor sit amet consectetur
  </h4>
</div>
<!-- desc -->
<div class={isReversed ? "order-1" : "order-2"}>
  <div class="text-center">
    <ul class="space-y-4">
      <li>
        <p class="flex gap-2 font-bold">
          <span> <BriefcaseBusiness /> </span> Lorem ipsum dolor sit amet consectetur
        </p>
        <p class="text-primary/50 pl-8 text-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt!
          Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum
          voluptatum
        </p>
      </li>
      <li>
        <p class="flex gap-2 font-bold">
          <span> <BriefcaseBusiness /> </span> Lorem ipsum dolor sit amet
        </p>
        <p class="text-primary/50 pl-8 text-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt!
          Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum
          voluptatum
        </p>
      </li>
      <li>
        <p class="flex gap-2 font-bold">
          <span> <BriefcaseBusiness /> </span> Lorem ipsum dolor sit amet vitalik
        </p>
        <p class="text-primary/50 pl-8 text-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt!
          Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum
          voluptatum
        </p>
      </li>
    </ul>
  </div>
</div>
