---
import { BriefcaseBusiness } from "lucide-react";
import SectionTitle from "../Titles/SectionTitle.astro";
import DualCards from "../Cards/DualCards.astro";
---

<section class="container mx-auto p-4 space-y-14">
  <SectionTitle
    title="Ayuda a la comunidad"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt! Magni sed fugit laudantium tenetur quas repellat rem ut est"
  />
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    <DualCards isReversed={false} />
    <DualCards isReversed={true} />
  </div>
</section>

<style>
  .white-text-black-bg {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }
</style>
