---
import DescriptiveCard from "../Cards/DescriptiveCard.astro";
import SectionTitle from "../Titles/SectionTitle.astro";
---

<section class="container mx-auto">
  <SectionTitle
    title="Ayuda a la mujer"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sunt! Magni sed fugit laudantium tenetur quas repellat rem ut est natus eum voluptatum"
  />
  <div class="pt-12 grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-4">
    <DescriptiveCard />
    <DescriptiveCard />
    <DescriptiveCard />
    <DescriptiveCard />
  </div>
</section>
