---
import GalleryHeaderWhitLinks from "@/components/Headers/GalleryHeaderWhitLinks.astro";
import ContainerWrapper from "@/layouts/ContainerWrapper.astro";
import Divider from "@/components/Etc/Divider.astro";
import FontCssLayout from "@/layouts/FontsCssLayout.astro";
import CardsOrientation from "@/components/testing/CardsOrientation.astro";

import ad1 from "@/images/ad1.jpg";
import ad2 from "@/images/ad2.jpg";
import ad3 from "@/images/ad3.jpg";
import DescriptiveCardsSection from "@/components/Sections/DescriptiveCardsSection.astro";
import DualCardsSection from "@/components/Sections/DualCardsSection.astro";
import Footer from "@/components/Etc/Footer.astro";

const imagesArr = [
  { image: ad1, caption: "ad1" },
  { image: ad2, caption: "ad2" },
  { image: ad3, caption: "ad3" },
];
---

<FontCssLayout>
  <html lang="es">
    <head>
      <title>Comunidad Unida</title>
    </head>
    <body>
      <ContainerWrapper>
        <GalleryHeaderWhitLinks images={imagesArr} />
        <Divider />
        <DescriptiveCardsSection />
        <Divider />
        <DualCardsSection />
      </ContainerWrapper>
      <Divider />
      <Footer />
    </body>
  </html>
</FontCssLayout>
