---
import GalleryHeaderWhitLinks from "@/components/Headers/GalleryHeaderWhitLinks.astro";
import ContainerWrapper from "@/layouts/ContainerWrapper.astro";
import Divider from "@/components/Etc/Divider.astro";

import ad1 from "@/images/ad1.jpg";
import ad2 from "@/images/ad2.jpg";
import ad3 from "@/images/ad3.jpg";
import DescriptiveCardsSection from "@/components/Sections/DescriptiveCardsSection.astro";
import DualCardsSection from "@/components/Sections/DualCardsSection.astro";
import Footer from "@/components/Etc/Footer.astro";

// PLACEHOLDER DB FETCH DATA FOR DYNAMIC CONTENT

import snow from "@/images/snow.jpg";
import type { Card } from "@/components/Cards/DescriptiveCard.astro";
import GlobalLayout from "@/layouts/GlobalLayout.astro";
const imagesArr = [
  { image: ad1, caption: "ad1" },
  { image: ad2, caption: "ad2" },
  { image: ad3, caption: "ad3" },
];
const cardsContent: Card[] = [
  {
    title: "Card 1",
    description:
      "Detailed description for card 1. This is an extended description that provides more context and information about the card.",
    buttontext: "Ver m치s",
    image: snow,
    imageAlt: "Image for Card 1",
  },

  {
    title: "Card 2",
    description:
      "Detailed description for card 2. This is an extended description that provides more context and information about the card.",
    buttontext: "Ver m치s",
    image: snow,
    imageAlt: "Image for Card 2",
  },
  {
    title: "Card 3",
    description:
      "Detailed description for card 3. This is an extended description that provides more context and information about the card.",
    buttontext: "Ver m치s",
    image: snow,
    imageAlt: "Image for Card 3",
  },
  {
    title: "Card 4",
    description:
      "Detailed description for card 4. This is an extended description that provides more context and information about the card.",
    buttontext: "Ver m치s",
    image: snow,
    imageAlt: "Image for Card 4",
  },
];
---

<GlobalLayout>
  <body>
    <ContainerWrapper>
      <GalleryHeaderWhitLinks images={imagesArr} />
      <Divider />
      <DescriptiveCardsSection cardsData={cardsContent} />
      <Divider />
      <DualCardsSection />
    </ContainerWrapper>
    <Divider />
    <Footer />
  </body>
</GlobalLayout>
