---
import GalleryHeaderWhitLinks from "@/components/Headers/GalleryHeaderWhitLinks.astro";
import ContainerWrapper from "@/layouts/ContainerWrapper.astro";
import SectionDescriptiveCards from "@/components/Sections/SectionDescriptiveCards.astro";
import Divider from "@/components/Etc/Divider.astro";
import FontCssLayout from "@/layouts/FontsCssLayout.astro";
---

<FontCssLayout>
  <html lang="es">
    <head>
      <title>Cominidad Unida</title>
    </head>
    <body>
      <ContainerWrapper>
        <GalleryHeaderWhitLinks />
        <Divider />
        <SectionDescriptiveCards />
      </ContainerWrapper>
    </body>
  </html>
</FontCssLayout>
