---
const { key } = Astro.params;
if (key !== import.meta.env.ADMIN_KEY) {
  return Astro.redirect("/login");
}

export function getStaticPaths() {
  return [
    { params: { key: "clifford" } },
    { params: { key: "rover" } },
    { params: { key: "spot" } },
  ];
}
---

<div>Good boi, {key}!</div>
