---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
// const { title } = Astro.props;
---

<main class="bg-background">
  <!-- your content is injected here -->
  <slot />
</main>
